{% extends 'first/base.html' %}
	{% load static %}

	{% block content %}

<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>

<style >
		h2, button, p{
			margin-left: 100px;
		}

		button:hover{
			color: white;
			background-color: blue;
		}

		p{

		}

	</style>


<body>
</html>

	  <h2>Sign up</h2>
  		<form method="post">
    	{% csrf_token %}
   		 {% for field in form %}
   	  		 <p>
        			{{ field.label_tag }}<br>
   	    			 {{ field }}
   	     			{% if field.help_text %}
   	    			   <small style="color: grey">{{ field.help_text }}</small>
   	     {% endif %}
   	     {% for error in field.errors %}
   	       <p style="color: red">{{ error }}</p>
   	     {% endfor %}
   	   </p>
   	 {% endfor %}
   	 <button type="submit">Sign up</button>
  	</form>
	{% endblock %}
</body>
</html>