<!DOCTYPE html>
<html lang="en" >

<head>
    {% load static %}

    <meta charset="UTF-8">
    {% block title %}<title>Online store</title>{% endblock %}
  
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css">
    <link rel='stylesheet prefetch' href='https://cdnjs.cloudflare.com/ajax/libs/MaterialDesign-Webfont/1.7.22/css/materialdesignicons.min.css'>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">

    <link rel="stylesheet" href="{% static 'first/css/style.css' %}">

</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light mb-xl-4">
        <a class="navbar-brand" href="{% url 'first:index' %}">
            <img src = "{% static 'first/img/logo.png' %}" width = "50" height = "30" alt = "logo">
        </a>

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                {% block nav-home %}
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'first:index' %}">Home <span class="sr-only">(current)</span></a>
                    </li>
                {% endblock %}

                {% block nav-shop %}
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'first:category' %}">Shop</a>
                    </li>
                {% endblock %}

                {% block nav-about %}
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'first:about-us' %}">About Us</a>
                    </li>
                {% endblock %}

                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Contact
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="#">support@legitweb.com</a>
                        <a class="dropdown-item" href="#">Call: 1-800-SCAMMED</a>
                    </div>
                </li>
            </ul>

            <div class = "navbar-nav nav-item text-inline">
                {% block nav-login %}
                    {% if user.is_authenticated %}
                        <a class = "nav-link" href = "{% url 'logout' %}">Logout</a>

                    {% else %}
                        <a class = "nav-link" href = "/login/">Login</a>
                    {% endif %}
                {% endblock %}
                {% block nav-cart %}
                    {% if user.is_authenticated %}       
                      <a class = "nav-link" href = "{% url 'cart:cart_detail' %}">Cart</a>     
                    {% else %}        
                       <a class = "nav-link disabled" style = "cursor: not-allowed;" data-toggle = "tooltip" data-placement = "left" title = "Sign in to use the cart">Cart</a>      
                    {% endif %}       
                {% endblock %}
            </div>
        </div>
    </nav>

    {% block front_page %}
    {% endblock %}

    {% block content %}
    {% endblock %}

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js" integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T" crossorigin="anonymous"></script>

    <script type="text/javascript">      
        $(document).ready(function()      
        {     
            $('[data-toggle = "tooltip"]').tooltip();     
        });       
    </script>
</body>

</html>
