{% extends 'first/base.html' %}
    {% load static %}

    {% block nav-home %}
        <li class="nav-item active">
            <a class="nav-link" href="{% url 'first:index' %}">Home <span class="sr-only">(current)</span></a>
        </li>
    {% endblock %}

    {% block front_page %}
        <div class="banner">
            <img src="{% static 'first/img/background.jpg' %}" alt="img-banner">

            <div class="banner-wrapper">
                Amazing Electronics
            </div>
        </div>
    {% endblock %}

    {% block content %}

        <style type = "text/css">
            #prod
            {
                background: #407DE1;
                color: white;
                padding: 10px 20px;
                font-family: sans-serif;
                font-weight: 900;
                font-size: 30px;
                margin-top: 20px;
                margin-bottom: 20px;
            }
        </style>

        <p id = "prod">Featured Products</p>

    {% endblock %}


