{% extends 'first/base.html' %}

    {% block nav-shop %}
        <li class = "nav-item active">
            <a class = "nav-link" href = "{% url 'first:category' %}">Shop</a>
        </li>
    {% endblock %}

    {% block content %}
        {% for product in object_list %}
            <style>
                .card:hover{
                    box-shadow: 1px 8px 20px grey;
                    -webkit-transition:  box-shadow .3s ease-in;
                    transform: scale(1.1);
                }
            </style>
            <div class = "card mx-xl-4" style = "width: 18rem; display: inline-flex;">
                <img class = "card-img-top" src = "{{ product.Image.url }}" alt = "Card image cap" style = "max-height: 580px" >
                <div class = "card-body">
                    <h5 class = "card-title">{{ product.Manufacturer }} {{ product.Model_Name }}</h5>
                    {% block price %}
                    {% endblock %}
                </div>
            </div>
        {% endfor %}
    {% endblock %}