{% extends 'first/base.html' %}

    {% block nav-shop %}
        <li class = "nav-item active">
            <a class = "nav-link" href = "#">Shop</a>
        </li>
    {% endblock %}

    {% block content %}
        {% for product in object_list %}
            <div class = "card mx-xl-3" style = "width: 18rem; display: inline-flex;">
                <img class = "card-img-top" src = "{{ product.Image.url }}" alt = "Card image cap" height = "300">
                <div class = "card-body">
                    <h5 class = "card-title">{{ product.Manufacturer }} {{ product.Model_Name }}</h5>
                    {% block price %}{% endblock %}
                    <a href = "/product/laptops/{{ product.id }}" class = "btn btn-primary">View</a>
                </div>
            </div>
        {% endfor %}
    {% endblock %}